<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Task Tracker</h1>
        </div>
        <hr>
        <div class="col-md-12">
            <p>Immerse yourself in heightened organizational efficiency and heightened productivity with our Task Tracker app. Seamlessly designed for optimal ease of use, this application empowers you to effortlessly manage your tasks. Stay on top of your responsibilities by utilizing a system that not only streamlines the process but also enhances your overall workflow. Our Task Tracker is your reliable companion for maintaining order and structure in your daily tasks, ensuring a smooth and stress-free task management experience. Say goodbye to complexity and hello to a user-friendly interface that enables you to navigate through your tasks with precision and simplicity. Embrace a more organized and productive lifestyle with the intuitive capabilities of our Task Tracker app.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
        <section>
            <h2>Quick Actions</h2>
            <hr>
            <p>Get started quickly with these actions:</p>
            <ul>
              <li><a routerLink="/tasks">View/Edit All Tasks</a></li>
              <li><a routerLink="/add" >Add a New Task</a></li>
            </ul>
          </section>
          </div>
    </div>
</div>